services:
  keep-frontend:
    extends:
      file: docker-compose.common.yml
      service: keep-frontend-common
    image: us-central1-docker.pkg.dev/keephq/keep/keep-ui
    networks:
      - coolify
    volumes:
      - ./state:/state
    depends_on:
      - keep-backend

  keep-backend:
    extends:
      file: docker-compose.common.yml
      service: keep-backend-common
    image: us-central1-docker.pkg.dev/keephq/keep/keep-api
    networks:
      - coolify
    environment:
      - ALLOWED_ORIGINS="*"
      - PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus
      - KEEP_METRICS=true
    volumes:
      - ./state:/state

  keep-websocket-server:
    extends:
      file: docker-compose.common.yml
      service: keep-websocket-server-common
    networks:
      - coolify

  keep-auth-proxy:
    extends:
      file: docker-compose.common.yml
      service: keep-auth-proxy-common
    networks:
      - coolify
    ports:
      - "4180:4180"
    depends_on:
      - keep-frontend

networks:
  coolify:
    external: true