services:
  keep-frontend-common:
    user: root
    environment:
      - AUTH_TYPE=NOAUTH
      - NEXTAUTH_SECRET=secret
      - NEXTAUTH_URL=https://keep.systems30.com
      - NEXT_PUBLIC_API_URL=https://keepapi.systems30.com
      - PUSHER_HOST=keepws.systems30.com
      - PUSHER_PORT=6001
      - PUSHER_APP_KEY=keepappkey

  keep-backend-common:
    user: root
    environment:
      - KEEP_API_URL=https://keepapi.systems30.com
      - AUTH_TYPE=NOAUTH
      - PORT=8080
      - SECRET_MANAGER_TYPE=FILE
      - SECRET_MANAGER_DIRECTORY=/state
      - DATABASE_CONNECTION_STRING=sqlite:////state/db.sqlite3?check_same_thread=False
      - OPENAI_API_KEY=$OPENAI_API_KEY
      - PUSHER_APP_ID=1
      - PUSHER_APP_KEY=keepappkey
      - PUSHER_APP_SECRET=keepappsecret
      - PUSHER_HOST=keep-websocket-server
      - PUSHER_PORT=6001
      - USE_NGROK=false

  keep-websocket-server-common:
    image: quay.io/soketi/soketi:1.4-16-debian
    environment:
      - SOKETI_USER_AUTHENTICATION_TIMEOUT=3000
      - SOKETI_DEBUG=1
      - SOKETI_DEFAULT_APP_ID=1
      - SOKETI_DEFAULT_APP_KEY=keepappkey
      - SOKETI_DEFAULT_APP_SECRET=keepappsecret
