services:
  keep-frontend-common:
    user: root
    environment:
      - AUTH_TRUST_HOST=true
      - AUTH_TYPE=OAUTH2PROXY
      - NEXT_PUBLIC_AUTH_TYPE=OAUTH2PROXY
      - KEEP_OAUTH2_PROXY_USER_HEADER=x-auth-request-email
      - KEEP_OAUTH2_PROXY_ROLE_HEADER=x-auth-request-groups
      - NEXTAUTH_SECRET=secret
      - NEXTAUTH_URL=https://keep.systems30.com
      - API_URL=http://keep-backend:8080
      - KEEP_API_URL=http://keep-backend:8080
      - NEXT_PUBLIC_KEEP_API_URL=https://keep.systems30.com/api
      - PUSHER_HOST=keepws.systems30.com
      - PUSHER_PORT=6001
      - PUSHER_APP_KEY=keepappkey

  keep-backend-common:
    user: root
    environment:
      - KEEP_API_URL=http://keep-backend:8080
      - AUTH_TYPE=OAUTH2PROXY
      - KEEP_OAUTH2_PROXY_USER_HEADER=x-auth-request-email
      - KEEP_OAUTH2_PROXY_ROLE_HEADER=x-auth-request-groups
      - USER_HEADER=x-auth-request-email
      - KEEP_OAUTH2_PROXY_AUTO_CREATE_USER=true
      - PORT=8080
      - SECRET_MANAGER_TYPE=FILE
      - SECRET_MANAGER_DIRECTORY=/state
      - DATABASE_CONNECTION_STRING=sqlite:////state/db.sqlite3?check_same_thread=False
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - PUSHER_APP_ID=1
      - PUSHER_APP_KEY=keepappkey
      - PUSHER_APP_SECRET=keepappsecret
      - PUSHER_HOST=keep-websocket-server
      - PUSHER_PORT=6001
      - USE_NGROK=false

  keep-websocket-server-common:
    image: quay.io/soketi/soketi:1.4-16-debian
    environment:
      - SOKETI_USER_AUTHENTICATION_TIMEOUT=3000
      - SOKETI_DEBUG=1
      - SOKETI_DEFAULT_APP_ID=1
      - SOKETI_DEFAULT_APP_KEY=keepappkey
      - SOKETI_DEFAULT_APP_SECRET=keepappsecret

  keep-auth-proxy-common:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.6.0
    environment:
      - OAUTH2_PROXY_PROVIDER=google
      - OAUTH2_PROXY_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - OAUTH2_PROXY_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - OAUTH2_PROXY_COOKIE_SECRET=${OAUTH2_COOKIE_SECRET}
      - OAUTH2_PROXY_EMAIL_DOMAINS=30m.com
      - OAUTH2_PROXY_UPSTREAMS=http://keep-frontend:3000/
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
      - OAUTH2_PROXY_REVERSE_PROXY=true
      - OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=true
      - OAUTH2_PROXY_PASS_USER_HEADERS=true
      - OAUTH2_PROXY_SET_XAUTHREQUEST=true
      - OAUTH2_PROXY_WHITELIST_DOMAINS=.systems30.com
      - OAUTH2_PROXY_COOKIE_DOMAIN=.systems30.com
      - OAUTH2_PROXY_COOKIE_SECURE=true
      - OAUTH2_PROXY_COOKIE_SAMESITE=lax
      - OAUTH2_PROXY_SCOPE=openid email profile