services:
  keep-frontend:
    extends:
      file: docker-compose.common.yml
      service: keep-frontend-common
    image: us-central1-docker.pkg.dev/keephq/keep/keep-ui
    environment:
      - AUTH_TYPE=REVERSE_PROXY
      - NEXT_PUBLIC_AUTH_TYPE=REVERSE_PROXY
      - API_URL=http://keep-backend:8080
      - KEEP_API_URL=http://keep-backend:8080
      - NEXT_PUBLIC_KEEP_API_URL=https://keep.systems30.com/api
    volumes:
      - ./state:/state
    depends_on:
      - keep-backend

  keep-backend:
    extends:
      file: docker-compose.common.yml
      service: keep-backend-common
    image: us-central1-docker.pkg.dev/keephq/keep/keep-api
    environment:
      - AUTH_TYPE=db
      - KEEP_JWT_SECRET=${OAUTH2_COOKIE_SECRET}
      - ALLOWED_ORIGINS=https://keep.systems30.com
      - USER_HEADER=X-Forwarded-Email
      - PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus
      - KEEP_METRICS=true
    volumes:
      - ./state:/state

  keep-websocket-server:
    extends:
      file: docker-compose.common.yml
      service: keep-websocket-server-common

  keep-auth-proxy:
    extends:
      file: docker-compose.common.yml
      service: keep-auth-proxy-common
    ports:
      - "4180:4180"
    depends_on:
      - keep-frontend

  grafana:
    image: grafana/grafana:latest
    profiles:
      - grafana
    ports:
      - "3001:3000"
    volumes:
      - ./grafana:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus:latest
    profiles:
      - grafana
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - keep-backend
